on init
    write /proc/sys/kernel/hung_task_timeout_secs 0
	start watchdogd
 
# unlink /efs > /mnt/vendor/efs
    rm /efs
    mkdir /efs
    mkdir /sec_efs
# setprop prepdecrypt.setpatch true

on fs
    wait /dev/block/platform/13100000.ufs
    symlink /dev/block/platform/13100000.ufs /dev/block/bootdevice
    symlink /dev/block/platform/13100000.ufs/by-name /dev/block/by-name


    symlink /dev/block/platform/13100000.ufs/by-name/param /dev/block/param
    chown root system /dev/block/param
    chmod 0666 /dev/block/param

#[ Mount firmware ]
     mkdir /vendor/firmware_mnt
     mount vfat /dev/block/bootdevice/by-name/apnhlos /vendor/firmware_mnt

 export ANDROID_ROOT /system_root


on boot
    #setprop ro.boot.vbmeta.avb_version 1.1
    #setprop ro.boot.avb_version 1.1
    start health-hal-2-1-samsung

#
#[on property:crypto.ready=1
    #start vendor.keymaster-4-0
    #start vendor.keymaster-4-0_strongbox

#on property:crypto.ready=0
    #stop vendor.keymaster-4-0_strongbox
    #stop vendor.keymaster-4-0]

#on property:twrp.user.0.decrypt=0
    #umount /vendor/firmware_mnt

#

#to cut charging battery path
    write /sys/class/power_supply/battery/siop_level 0


on late-init
    setprop sys.usb.controller 10e00000.usb
    setprop ro.debuggable 1
    setprop service.adb.root 1
    setprop sys.usb.configfs 1
    setprop sys.usb.config adb

# Set watchdog timer to 40 seconds and pet it every 10 seconds to get a 30 second margin
service watchdogd /system/bin/watchdogd 10 30
    class core
    oneshot
    seclabel u:r:watchdogd:s0
    
#import /init.recovery.exynos_decrypt.rc
